* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR STYLE */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

}

/* LOGO */
.logo {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #5a4a42;
    
}

/* CENTER CONTENT */
.center-content {
    display: flex;
    align-items: center;
    gap: 20px;
    color:rgba(0, 0, 0, 0.527);
    font-size: 19px;
}

.center-content a {
    color:rgba(0, 0, 0, 0.527);
    font-weight: 500;
}

/* BUTTON */
.edit-btn {
    background: #000;
    color: #fff;
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
}
.edit-btn:hover{
    background-color: blue;
}
.main{
    background-color:rgba(245, 131, 79, 0.644);
    width:100%;
    height: 900px;
}
.icon-grp{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 300px;
}
.icon-grp hr{
     width: 1px;
    height: 30px;
    background-color: rgb(71, 70, 70);
    border: none;
}
.icon-btn1 {
    font-size: 30px;   
    color: rgb(172, 172, 236);      
    text-decoration: none;
    
}
.icon-btn2 {
    font-size: 30px;   
    color:rgb(107, 106, 106);      
    text-decoration: none;
   
}